/*
 *  SoturiyARTS
 *  Styles
 *  Version 1.0
*/

/* GLOBAL */
*, *:before, *:after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    font-family: 'PT Mono';
}
.heading{
    font-size: 2em;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: #2c3e50;
    font-weight: bold;
}
.border{
    display: block;
    margin: 40px auto;
    width: 60px;
    height: 2px;
    background: #e74c3c;
}
/* HEADER */
.site_header{
    background: url(../img/landscape.jpg) center center fixed;
    background-color: silver;
    min-height: 80vh;
    position: relative;
}
.site_header h1{
    font-family: 'Open Sans', sans-serif;
    font-size:1.5em;
    color: #FFFFFF;
    float: left;
}
.site_header h1 strong{
    font-weight: bold;
    text-shadow: 1px 1px gray;
}
.site_header nav, ul{
    float: right;
    list-style: none;
    margin-top: 0.2em;
}
.site_header nav ul li{
    float: left;
}
.site_header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    margin-left: 1em;
}
.site_header h2{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size:2.5em;
    color: white;
    text-shadow: 1px 1px gray;
    text-transform: uppercase;
}

/* SERVICES */
.site_service{
    min-height: 100vh;
    position: relative;
}
.site_service article{
    padding: 0.5em;
}
.site_service .service_icon{
    width: 2em;
    height: 2em;
    background: #e74c3c;
    text-align: center;
    padding: 0.5em;
    color: white;
    font-size: 1.5em;
    border-radius: 5px;
    margin-right: 1em;
    margin-left:40%;
}
.site_service h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color:#2c3e50;
    font-size: 1.5em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}
.site_service p{
    float: left;
    text-align: left;
    margin-bottom: 0.5em;
    font-size: 1em;
    color: #2c3e50;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #bdc3c7;
}
@media screen and (min-width: 328px){
    .site_service .service_icon{
        margin-left: 0;
        float: left;
    }
    .site_service h2{
        text-align: left;
    }
}
@media screen and (min-width: 460px){
    .site_service .service_icon{
        float: none;
        margin-left: 40%;
    }
    .site_service h2{
        text-align: center;
    }
}
@media screen and (min-width: 558px){
    .site_service .service_icon{
        float: left;
        margin: 0;
    }
    .site_service h2{
        text-align: left;
    }
}
/* WORKFLOW */
.site_workflow{
    background: url(../img/workflow.jpg) center center fixed;
    background-color: #2c3e50;
    text-align: center;
    min-height: 40vh;
}
.site_workflow h2{
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFFFF;
}
.site_workflow div{
    padding: 0.2em;
}
.site_workflow article{
    padding: 0.5em;
}
.arrow_down{
    display: block;
    font-size: 1em;
    color: #FFFFFF;
}
.arrow_right{
    display: none;
    font-size: 1.3em;
    color: #FFFFFF;
}
.site_workflow article h3{
    color: #FFFFFF;
}
.site_workflow .workflow_icon{
    color: white;
    float: left;
}

@media screen and (min-width: 860px){
    .arrow_down{
        display: none;
    }
    .arrow_right{
        display: block;
    }
}